# SpacetimeDB
PUBLIC_SPACETIMEDB_URI="wss://spacetimedb.com"
PUBLIC_SPACETIMEDB_MODULE="vaspeak-dev"
SPACETIMEDB_TOKEN=""

# Auth
JWT_SECRET="change-me-to-a-random-32-char-secret"
SITE_URL="http://localhost:5173"

# External Services
RESEND_API_KEY=""
GROQ_API_KEY=""
GROQ_MODEL="meta-llama/llama-4-scout-17b-16e-instruct"
